// FONTS
$font: "rot";
// FONTS

// COLORS
$black: #515151;

$gray: #707070;

$blue: #55a0c3;

$acid: #edfc8d;

$acid-border-bold: 4px solid $acid;
$acid-border-thin: 2px solid $acid;
$blue-border-thin: 2px solid $blue;
// COLORS
