@font-face {
  font-family: "rot";
  src: url("../../../assets/fonts/RotondaC.eot");
  src: url("../../../assets/fonts/RotondaC.woff") format("woff");
  src: url("../../../assets/fonts/RotondaC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rot";
  src: url("../../../assets/fonts/RotondaC-Bold.eot");
  src: url("../../../assets/fonts/RotondaC-Bold.woff") format("woff");
  src: url("../../../assets/fonts/RotondaC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
